Repository kisstar/knives: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, style

lefthook.yml:

# Refer for explanation to following link:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{ts,vue}'
      run: pnpm eslint {staged_files}
    style:
      glob: '*.{css,scss,vue}'
      run: pnpm stylelint {staged_files}

commit-msg:
  commands:
    check:
      run: npx commitlint --edit

feat: support dynamic module addition
  .vscode/settings.json
  README.md
  package.json
  packages/app/App.vue
  packages/app/components/layout/AppLayout.vue
  packages/app/components/layout/index.ts
  packages/app/constants/index.ts
  packages/app/constants/route.ts
  packages/app/egress.ts
  packages/app/main.ts
  packages/app/package.json
  packages/app/router/index.ts
  packages/app/router/routes.ts
  packages/app/types/router.d.ts
  pnpm-lock.yaml
Due: eslint, style

feat: add cube2png module
  packages/app/main.ts
  packages/modules/cube2png/C2PContent.vue
  packages/modules/cube2png/main.ts
  packages/modules/cube2png/package.json
  packages/modules/cube2png/vite-env.d.ts
  tsconfig.json
  vite.config.ts
Due: eslint, style

feat: add a cube parser module to parse cube files
  .vscode/settings.json
  packages/lib/cube-parser/main.ts
  packages/lib/cube-parser/package.json
  packages/lib/cube-parser/parse.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  vite.config.ts
Due: eslint

feat(cube2png): convert cube files to images and display them
  packages/app/main.ts
  packages/app/package.json
  packages/modules/cube2png/C2PContent.vue
  packages/modules/cube2png/package.json
  packages/modules/cube2png/utils/index.ts
  packages/modules/cube2png/vite-env.d.ts
  pnpm-lock.yaml
Due: eslint, style

feat(app): dynamic page title with Vue Router
  .vscode/settings.json
  packages/app/constants/app.ts
  packages/app/constants/index.ts
  packages/app/index.html
  packages/app/package.json
  packages/app/plugins/vuetify.ts
  packages/app/router/guards.ts
  packages/app/router/index.ts
  packages/app/types/router.d.ts
  packages/modules/cube2png/main.ts
  packages/modules/cube2png/package.json
  pnpm-lock.yaml
Due: eslint

feat(app): support light and dark themes
  packages/app/App.vue
  packages/app/components/app/index.ts
  packages/app/components/app/menu/AppMenu.vue
  packages/app/components/app/menu/index.ts
  packages/app/constants/index.ts
  packages/app/constants/local-storage.ts
  packages/app/egress.ts
  packages/app/public/knives.svg
  packages/app/store/config.ts
  packages/app/store/index.ts
  packages/modules/cube2png/main.ts
  tailwind.config.js
Due: eslint, style

feat: add shared module
  packages/shared/README.md
  packages/shared/common.ts
  packages/shared/main.ts
  packages/shared/package.json
  tsconfig.json
  vite.config.ts
Due: eslint

feat(cube2png): adjust UI
  packages/app/package.json
  packages/app/styles/index.scss
  packages/app/styles/vuetify.scss
  packages/lib/cube-parser/main.ts
  packages/modules/cube2png/C2PContent.vue
  pnpm-lock.yaml
Due: eslint, style

docs(cube-parser): add README.me
  packages/lib/cube-parser/README.md
Due: none

build: vuetify SASS variable override and resolve compilation errors
  package.json
  packages/app/styles/index.scss
  packages/app/styles/settings.scss
  packages/app/styles/vuetify.scss
  packages/app/styles/vuetify3.scss
  pnpm-lock.yaml
  vite.config.ts
Due: eslint, style

feat(cube2png): support exporting LUT
  packages/modules/cube2png/C2PContent.vue
  packages/modules/cube2png/package.json
  packages/shared/download.ts
  packages/shared/main.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, style

ci: add deploy process
  .github/workflows/deploy.yml
Due: none

feat(app): adjust the import order of themes and styles
  packages/app/components/app/index.ts
  packages/app/components/app/menu/index.ts
  packages/app/components/menu/AppMenu.vue
  packages/app/components/menu/index.ts
  packages/app/egress.ts
  packages/app/styles/index.scss
  tailwind.config.js
Due: eslint, style

feat(app): provide basic side navigation components
  packages/app/assets/images/icons/home.svg
  packages/app/assets/images/icons/tool.svg
  packages/app/components/layout/AppAsideNav.vue
  packages/app/components/layout/AppAsideSubnav.vue
  packages/app/components/layout/AppLayout.vue
Due: eslint, style

feat: add browser module
  package.json
  packages/browser/README.md
  packages/browser/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  vite.config.ts
Due: eslint

feat(app,shared): encapsulate message component
  packages/app/components/index.ts
  packages/app/components/message/BaseMessage.vue
  packages/app/components/message/base.ts
  packages/app/components/message/core.ts
  packages/app/components/message/index.ts
  packages/app/components/message/instance.ts
  packages/app/package.json
  packages/shared/constants/event.ts
  packages/shared/constants/index.ts
  packages/shared/main.ts
  pnpm-lock.yaml
Due: eslint, style

feat(app): adjust nav icons and corresponding colors
  packages/app/assets/images/icons/home.svg
  packages/app/assets/images/icons/tool.svg
  packages/app/components/layout/AppLayout.vue
  packages/app/components/menu/AppAsideNav.vue
  packages/app/components/menu/AppAsideSubnav.vue
  packages/app/components/menu/AppMenu.vue
  packages/app/components/menu/index.ts
  packages/app/styles/settings.scss
  packages/modules/cube2png/main.ts
  tailwind.config.js
Due: eslint, style

feat: add hosts module
  packages/app/main.ts
  packages/app/package.json
  packages/modules/hosts/HostsContent.vue
  packages/modules/hosts/README.md
  packages/modules/hosts/main.ts
  packages/modules/hosts/package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
Due: eslint, style

feat(hosts): create toolbar and display system default configuration
  packages/app/plugins/vuetify.ts
  packages/modules/hosts/HostsContent.vue
  packages/modules/hosts/components/HToolbar.vue
  packages/modules/hosts/constants/hosts.ts
  packages/modules/hosts/constants/index.ts
  packages/modules/hosts/constants/toolbar.ts
  packages/modules/hosts/main.ts
  packages/shared/id.ts
  packages/shared/main.ts
Due: eslint, style

feat(app): support language Internationalization
  package.json
  packages/app/App.vue
  packages/app/components/menu/AppMenu.vue
  packages/app/components/menu/components/AppLocale.vue
  packages/app/constants/index.ts
  packages/app/constants/local-storage.ts
  packages/app/locales/index.ts
  packages/app/locales/lang/en.json
  packages/app/locales/lang/zhHans.json
  packages/app/main.ts
  packages/app/package.json
  packages/app/plugins/vuetify.ts
  packages/app/store/index.ts
  packages/app/store/locale.ts
  packages/modules/hosts/components/HToolbar.vue
  packages/modules/hosts/package.json
  packages/shared/main.ts
  packages/shared/package.json
  packages/shared/storage.ts
  pnpm-lock.yaml
  vite.config.ts
Due: eslint, style

refactor(app): adjust default configuration and store management
  packages/app/App.vue
  packages/app/components/menu/AppMenu.vue
  packages/app/constants/app.ts
  packages/app/constants/index.ts
  packages/app/store/config.ts
  packages/app/store/config/index.ts
  packages/app/store/config/locale.ts
  packages/app/store/config/theme.ts
  packages/app/store/index.ts
Due: eslint, style

chore: integrate Tauri 2.0
  .gitignore
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  crates/app/Cargo.lock
  crates/app/Cargo.toml
  crates/app/build.rs
  crates/app/capabilities/default.json
  crates/app/icons/128x128.png
  crates/app/icons/128x128@2x.png
  crates/app/icons/32x32.png
  crates/app/icons/Square107x107Logo.png
  crates/app/icons/Square142x142Logo.png
  crates/app/icons/Square150x150Logo.png
  crates/app/icons/Square284x284Logo.png
  crates/app/icons/Square30x30Logo.png
  crates/app/icons/Square310x310Logo.png
  crates/app/icons/Square44x44Logo.png
  crates/app/icons/Square71x71Logo.png
  crates/app/icons/Square89x89Logo.png
  crates/app/icons/StoreLogo.png
  crates/app/icons/icon.icns
  crates/app/icons/icon.ico
  crates/app/icons/icon.png
  crates/app/src/lib.rs
  crates/app/src/main.rs
  crates/app/tauri.conf.json
  crates/modules/hosts/Cargo.toml
  crates/modules/hosts/src/lib.rs
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint

feat: add bridge module
  packages/bridge/README.md
  packages/bridge/main.ts
  packages/bridge/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  vite.config.ts
Due: eslint

feat(hosts,bridge): introduce a persistent key-value store
  .vscode/extensions.json
  .vscode/settings.json
  Cargo.lock
  crates/app/Cargo.toml
  crates/app/capabilities/default.json
  crates/app/src/lib.rs
  crates/app/tauri.conf.json
  package.json
  packages/bridge/main.ts
  packages/bridge/package.json
  packages/bridge/store.ts
  packages/modules/hosts/HostsContent.vue
  packages/modules/hosts/components/HConfForm.vue
  packages/modules/hosts/constants/index.ts
  packages/modules/hosts/constants/store.ts
  packages/modules/hosts/package.json
  packages/modules/hosts/store/hosts.ts
  packages/modules/hosts/store/index.ts
  pnpm-lock.yaml
Due: eslint, style

feat(hosts): improve the form and add groups
  packages/app/egress.ts
  packages/app/styles/tailwind.scss
  packages/app/vite-env.d.ts
  packages/bridge/platform.ts
  packages/modules/hosts/HostsContent.vue
  packages/modules/hosts/components/HConfForm.vue
  packages/modules/hosts/components/HToolbar.vue
  packages/modules/hosts/components/form/index.ts
  packages/modules/hosts/components/form/options.ts
  packages/modules/hosts/constants/hosts.ts
  packages/modules/hosts/constants/index.ts
  packages/modules/hosts/lang/en.json
  packages/modules/hosts/lang/zhHans.json
  packages/modules/hosts/package.json
  packages/modules/hosts/store/hosts.ts
  packages/shared/main.ts
  packages/shared/type-is.ts
  pnpm-lock.yaml
  vite.config.ts
Due: eslint, style

feat(hosts): support adding configuration items
  packages/modules/hosts/HostsContent.vue
  packages/modules/hosts/constants/hosts.ts
  packages/modules/hosts/constants/index.ts
  packages/modules/hosts/store/hosts.ts
  packages/modules/hosts/utils/hosts.ts
  packages/modules/hosts/utils/index.ts
Due: eslint, style

Deploying to gh-pages from @ kisstar/knives@f95a6175db3a9734dce9c900fc68f50a2537ea04 🚀
  assets/C2PContent-BgTHPkEP.js
  assets/C2PContent-DBTCNehn.css
  assets/index-DAphGhoG.css
  assets/index-pfNT42RA.js
  assets/materialdesignicons-webfont-B7mPwVP_.ttf
  assets/materialdesignicons-webfont-CSr8KVlo.eot
  assets/materialdesignicons-webfont-Dp5v-WZN.woff2
  assets/materialdesignicons-webfont-PXm3-2wK.woff
  index.html
  knives.svg
Due: style

feat(hosts): support editing and deletion
  packages/modules/hosts/HostsContent.vue
  packages/modules/hosts/components/HConfForm.vue
  packages/modules/hosts/components/form/options.ts
  packages/modules/hosts/constants/hosts.ts
  packages/modules/hosts/store/hosts.ts
Due: eslint, style

feat(app): add SCSS Mixins
  packages/app/styles/mixin/bem/bem-config.scss
  packages/app/styles/mixin/bem/bem-mixin.scss
  packages/app/styles/mixin/rem.scss
  packages/app/styles/mixin/utils.scss
  vite.config.ts
Due: eslint, style

feat(app,bridge): improve persistent storage capability
  .vscode/settings.json
  packages/app/main.ts
  packages/app/package.json
  packages/app/plugins/index.ts
  packages/app/plugins/pinia-plugin-persist.ts
  packages/app/types/pinia-plugin-persist.d.ts
  packages/bridge/main.ts
  packages/bridge/package.json
  packages/bridge/store.ts
  packages/bridge/store/core.ts
  packages/bridge/store/index.ts
  packages/bridge/store/tauri-driver.ts
  pnpm-lock.yaml
Due: eslint

feat(hosts): enable data persistence
  packages/modules/hosts/constants/index.ts
  packages/modules/hosts/constants/store.ts
  packages/modules/hosts/store/hosts.ts
  packages/modules/hosts/store/persist-store.ts
Due: eslint

feat(m3u8-downloader): init module
  packages/app/main.ts
  packages/app/package.json
  packages/modules/m3u8-downloader/MDContent.vue
  packages/modules/m3u8-downloader/main.ts
  packages/modules/m3u8-downloader/package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
Due: eslint, style

feat(m3u8-downloader): add basic transcoding process
  packages/modules/m3u8-downloader/MDContent.vue
  packages/modules/m3u8-downloader/constants/ffmpeg.ts
  packages/modules/m3u8-downloader/constants/index.ts
  packages/modules/m3u8-downloader/main.ts
  packages/modules/m3u8-downloader/package.json
  pnpm-lock.yaml
  vite.config.ts
Due: eslint, style

feat(hosts): write configuration to the system
  Cargo.lock
  crates/app/src/lib.rs
  crates/modules/hosts/Cargo.toml
  crates/modules/hosts/src/commands.rs
  crates/modules/hosts/src/lib.rs
  packages/modules/hosts/HostsContent.vue
  packages/modules/hosts/invokers/index.ts
  packages/modules/hosts/package.json
  packages/modules/hosts/store/hosts.ts
  packages/modules/hosts/utils/hosts.ts
  packages/modules/hosts/utils/index.ts
Due: eslint, style

refactor(hosts): cancel manual activation of grouping
  packages/modules/hosts/HostsContent.vue
  packages/modules/hosts/components/HConfForm.vue
  packages/modules/hosts/store/hosts.ts
Due: eslint, style

feat(hosts): add placeholder invoice function to the Web
  packages/bridge/api/core/index.ts
  packages/bridge/api/index.ts
  packages/bridge/main.ts
  packages/bridge/package.json
  packages/modules/hosts/invokers/index.ts
  packages/modules/hosts/package.json
  pnpm-lock.yaml
Due: eslint

docs(hosts): basic documentation
  .vscode/settings.json
  package.json
  packages/docs/src/hosts.md
Due: none

feat(app): add tool list page
  packages/app/config/index.ts
  packages/app/config/tools.ts
  packages/app/router/routes.ts
  packages/app/views/tools/ToolsContent.vue
  packages/app/views/tools/components/ToolGroup.vue
  packages/app/views/tools/components/ToolItem.vue
  packages/app/views/tools/index.ts
  packages/modules/hosts/package.json
  pnpm-lock.yaml
Due: eslint, style

Deploying to gh-pages from @ kisstar/knives@4b3f5feab823843d0fc774826be3bb0bad97e738 🚀
  assets/C2PContent-BH8KsyDv.js
  assets/MDContent-DLbHX7V2.js
  assets/index-B8yupdKK.js
  assets/index-hZpUbrl5.css
  assets/index-pfNT42RA.js
  assets/worker-CJKE1Low.js
  index.html
Due: style
